<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Conditional Status Distribution Chart</title>
    <!-- Montserrat Font -->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

    <!-- Material Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet">
    
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="https://cdn.plot.ly/plotly-2.25.2.min.js"></script>
</head>
<body>
    <h1>Status Distribution Chart</h1>
    <div class="grid-container">
        <!-- Sidebar -->
        <aside id="sidebar">
            <div class="sidebar-title">
                <div class="sidebar-brand">
                    <span class="material-icons-outlined">electric_car</span> EV FLEET
                </div>
                <span class="material-icons-outlined" onclick="closeSidebar()">close</span>
            </div>
    
            <ul class="sidebar-list">
                <li class="sidebar-list-item">
                    <a href="index">
                      <span class="material-icons-outlined">library_books</span> EV-Introduction
                    </a>
                  </li>
                <li class="sidebar-list-item">
                    <a href="dataset">
                        <span class="material-icons-outlined">dataset</span>
                        DataSet
                    </a>
                </li>
                <li class="sidebar-list-item">
                    <a href="/distribution">
                        <span class="material-icons-outlined">show_chart</span> Distribution
                    </a>
                </li>
                <li class="sidebar-list-item">
                    <a href="/relation">
                        <span class="material-icons-outlined">account_tree</span> RelationShip
                    </a>
                </li>
                <li class="sidebar-list-item">
                    <a href="/status">
                        <span class="material-icons-outlined">check_circle</span> StatusCount
                    </a>
                    <li class="sidebar-list-item">
                        <a href="/pie">
                          <span class="material-icons-outlined">donut_large</span> PieChart
                        </a>
                      </li>
                      <li class="sidebar-list-item">
                        <a href="/predict">
                          <span class="material-icons-outlined">analytics</span>Prediction
                        </a>
                      </li>
                      <li class="sidebar-list-item">
                        <a href="/maintenance">
                            <span class="material-icons-outlined">build</span> Maintenance
                        </a>
                    </li>
                    
                    <li class="sidebar-list-item">
                        <a href="/behavior">
                            <span class="material-icons-outlined">people</span> Drivers Behavior
                        </a>
                    </li>
                    
                    <li class="sidebar-list-item">
                      <a href="/login">
                         <span class="material-icons-outlined">logout</span>LogOut
                     </a>
                     </li>
                  </ul>
            </ul>
        </aside>
        <!-- End Sidebar -->
     


        
  <!-- Main Content -->
  <main class="main-container">
    <div class="main-title-status">
    <form method="POST">
        <label for="status_type">Select Status Type: </label>
        <select name="status_type" id="columnSelect" onchange="this.form.submit()">
            <option value="Charging Status" {% if status_type == 'Charging Status' %}selected{% endif %}>Charging Status</option>
            <option value="Working Condition" {% if status_type == 'Working Condition' %}selected{% endif %}>Working Condition</option>
        </select>
    </form>

    <!-- Plotly Chart -->
    <div id="chart-container">
        {{ graph_html | safe }}
    </div>
</main>
</div>
</body>
</html>
